.wrap {
  padding: 32px;
  max-width: 450px;
  margin: 0 auto;
}

.wrap h2 {
  font-size: 20px;
  text-align: center;
}

.wrap form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-height: 100%;
  overflow-y: scroll;
}

.wrap form .group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.preview {
  max-width: 100px;
}
