.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
}

.wrap h2 {
    text-align: center;
    padding: 6px;
}

.main {
    padding: 24px 0 32px 0;
}

.main form {
    max-width: 700px;
    margin: 0 auto;
}

.main form .group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.main form .group label {
    font-size: 0.875rem;
}

.main form .group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgb(159, 171, 191);
    outline: 0;
    padding: 0.75rem 1rem;
    color: rgb(49, 63, 91);
}

.main form .group input:focus {
    border-color: rgba(167, 139, 250);
  }


.logs {
    height: 100%;
    border-top: 1px solid #000;
    padding: 10px;
}

.logs h3 {
    text-align: center;
    margin-bottom: 16px;
}

.logContainer {
    max-width: 1000px;
    height: 100%;
    overflow-y: scroll;
    border: 1px solid #ddd;
    margin: 0 auto;
    max-height: 300px;
}

.logList {
    min-height: 1500px;
}

.log {
    display: flex;
    padding: 10px;
    background-color: #ddd;
    border-bottom: #bfbfbf 1px solid;
}

.log p {
    padding: 0 10px;
    border-left: 2px solid #000;
}

.log p:last-child {
    border-right: 2px solid #000;
}

